.file-form {width: 400px; border: 1px solid #550044; text-align: center; margin: 100px auto; padding: 50px 30px;}
input {margin: 10px; width: 200px; height: 30px;}
button {background: #2894FF; color: #111; width: 204px; height: 30px; border: 2px solid #2894FF;}